@import '../../shared/styles/config';

.mat-button {
  @include modals-button;
  margin-top: 1px;
}

.button {
  font-family: "Sifonn Pro";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  color: $light-background-color;
  height: 36px;
  cursor: pointer;
}

.button-main {
  background: $app-red-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

.button-text {
  position: relative;
  text-align: center;
  top: 10px;
  padding: 0 15px;
}
