server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://db:5432/pts
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        ddl-auto: update
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
  data:
    rest:
      default-page-size: 10

eureka:
  client:
    serviceUrl:
      defaultZone: http://registry-service:8761/eureka/
    instance:
      preferIpAddress: true


