version: '2.2'
services:
  config-service:
    container_name: config-service
    image: config-service:latest
    ports:
      - 8888:8888
    networks:
      - pts-network
    healthcheck:
      test: "exit 0"
  db:
    container_name: db
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=postgres
      - POSTGRES_DB=pts
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      - pts-network
    healthcheck:
      test: "exit 0"
    depends_on:
      config-service:
        condition: service_healthy
  registry-service:
    container_name: registry-service
    image: registry-service:latest
    ports:
      - 8761:8761
    networks:
      - pts-network
    healthcheck:
      test: "exit 0"
    depends_on:
      config-service:
        condition: service_healthy
  gateway:
    container_name: gateway
    image: gateway:latest
    ports:
      - 8097:8097
      - 5006:5006
    networks:
      - pts-network
    links:
      - registry-service
    depends_on:
      config-service:
        condition: service_healthy
      registry-service:
        condition: service_healthy
      db:
        condition: service_healthy
  rest:
    container_name: rest
    image: rest:latest
    ports:
      - 8081:8081
      - 5005:5005
    networks:
      - pts-network
    links:
      - registry-service
      - db
      - config-service
    depends_on:
      config-service:
        condition: service_healthy
      registry-service:
        condition: service_healthy
      db:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
  ui:
    container_name: ui
    image: ui:latest
    ports:
      - 8082:80
    networks:
      - pts-network
    links:
      - registry-service
      - db
      - config-service
      - rest
    depends_on:
      config-service:
        condition: service_healthy
      registry-service:
        condition: service_healthy
      db:
        condition: service_healthy
      rest:
        condition: service_healthy
    healthcheck:
      test: "exit 0"
networks:
  pts-network:
    driver: bridge