@import '../../shared/styles/config';

.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 33px;

  li {
    display: inline-block;
    width: 33px;
    height: 33px;
    text-align: center;
    margin: 0 10px;

    svg {
      margin: 0 auto;
    }

    span {
      font-family: 'Sifonn Pro';
      font-size: 16px;
      line-height: 16px;
      display: inline-block;
      margin-top: 9px;
    }
  }
  .current-item {
    background: $app-red-color;
    color: $light-background-color;
  }
}
