@import '../../../../../shared/styles/config';

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-title {
  font-family: "Sifonn Pro";
  font-size: 21px;
  line-height: 21px;
  padding: 8px 0 21px 0;
  color: $filter-value-color;
}

.inline-buttons {
  @include action-buttons;
  margin: 10px;
}

.toggle-projects {
  padding-left: 37px;
  cursor: pointer;
  background: url(/assets/svg/check_box.svg) no-repeat left;
}

.option-checked {
  background: url(/assets/svg/checkbox_checked.svg) no-repeat left;
}

.option-unchecked {
  background: url(/assets/svg/check_box.svg) no-repeat left;
}


@media screen and (max-width: 620px) {
  .header-container {
    justify-content: flex-start;
    flex-direction: column;
  }
  .inline-buttons {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}



